.galery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 92px;
}

.galery__grid {
  width: 100%;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.galery__grid-image {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .galery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 88px;
  }

  .galery__grid {
    width: 100%;
    max-width: 720px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
  }

  .galery__grid-image {
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .galery {
    max-width: 288px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 88px;
  }

  .galery__grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .galery__grid-image {
    width: 100%;
  }
}
