.header {
  display: flex;
  flex-direction: column;
}

.header__logo {
  margin: 34px auto 90px;
  width: 254px;
  height: 70px;
  align-content: center;
}

.header__lead {
  align-content: center;
  margin: auto;
  text-align: center;
}

.header__lead-tittle {
  align-content: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin: 0 auto 32px;
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
}

.header__lead-text {
  margin: 0 auto 64px;
  max-width: 720px;
  font-family: Inter;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.header__lead-image {
  width: 90%;
  height: auto;
  margin: 0 auto 92px;
}

@media (max-width: 768px) {
  .header__lead-tittle {
    align-content: center;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    margin: 0 auto 25px;
    max-width: 530px;
    font-size: 75px;
    line-height: 79px;
    text-align: center;
  }

  .header__lead-text {
    margin: 0 auto 30px;
    max-width: 720px;
    font-family: Inter;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  .header__lead-image {
    width: 100%;
    height: auto;
    margin: 0 auto 90px;
  }
}

@media (max-width: 320px) {
  .header__logo {
    margin: 20px auto 50px;
    width: 188px;
    height: 52px;
    align-content: center;
  }

  .header__lead-tittle {
    align-content: center;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    margin: 0 auto 16px;
    max-width: 228px;
    font-size: 40px;
    line-height: 44px;
  }

  .header__lead-text {
    margin: 0 auto 40px;
    max-width: 288px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .header__lead-image {
    width: 100%;
    height: auto;
    margin: 0 auto 64px;
  }
}
