.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.places__content {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto 460px 1fr;
  gap: 48px 40px;
  margin-bottom: 80px;
}

.places__content-last {
  margin-bottom: 90px;
}

.places__content-title {
  display: flex;
  align-items: end;
  max-width: 460px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

.places__content-artists {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.places__content-artists-title {
  margin-bottom: 8px;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #aaaaaa;
}

.places__content-artists-text {
  margin: 0;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.places__content-image {
  width: 100%;
  height: auto;
  box-shadow: 10px 10px 25px 0px #00000080;
}

.places__content-image:hover {
  background: #00000080;
  opacity: 0.5;
}

.places__content-texts {
  grid-column: 2/3;
  grid-row: span 2;
}

.places__content-text {
  max-width: 484px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.places__content-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  padding: 13px 20px;
  border: none;
  text-align: center;
  border-radius: 5px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0px #00000040;
  color: #fff;
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-decoration: none;
  cursor: pointer;
}

.places__content-btn:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 768px;
  }

  .places__content {
    max-width: 720px;
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto 340px 1fr;
    gap: 48px 28px;
    margin-bottom: 72px;
  }

  .places__content-last {
    margin-bottom: 90px;
  }

  .places__content-title {
    display: flex;
    align-items: end;
    max-width: 460px;
    font-family: "Inter";
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
  }

  .places__content-text {
    max-width: 484px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 680px) {
  .places {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .places__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 30px;
    margin-bottom: 50px;
    grid-template-areas: "title" "artists" "image" "texts" "button";
  }

  .places__content-last {
    margin-bottom: 90px;
  }

  .places__content-title {
    display: flex;
    align-items: end;
    max-width: 288px;
    font-family: "Inter";
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    grid-area: title;
    margin-left: 16px;
  }

  .places__content-artists {
    display: flex;
    flex-direction: column;
    justify-content: end;
    grid-area: artists;
    margin-left: 16px;
  }

  .places__content-image {
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 25px 0px #00000080;
    grid-area: image;
  }

  .places__content-texts {
    grid-area: texts;
    margin-left: 16px;
  }

  .places__content-text {
    max-width: 288px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }

  .places__content-btn {
    width: 288px;
    height: 48px;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
    box-shadow: 5px 5px 10px 0px #00000040;
    color: #fff;
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    grid-area: button;
    margin-left: 16px;
    cursor: pointer;
  }
}
